/* Definição de CSS Variables para Modo Claro */
:root {
    --background-color: #f8f9fa;
    --text-color: #212529;
    --card-bg: #ffffff;
    --card-header-bg-primary: #0d6efd;
    --card-header-bg-success: #198754;
    --button-bg-secondary: #6c757d;
    --button-text-secondary: #ffffff;
    --button-bg-primary: #0d6efd;
    --button-bg-warning: #ffc107;
    --badge-bg-primary: #0d6efd;
    --pair-border-color: #0d6efd;
    --pair-bg: #ffffff;
}

/* Estilos Gerais */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    font-size: 2.5rem;
}

.card {
    background-color: var(--card-bg);
    color: var(--text-color);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card-header-bg-primary);
}

.card-header.bg-success {
    background-color: var(--card-header-bg-success);
}

textarea::placeholder {
    color: #6c757d;
}

.btn-secondary {
    background-color: var(--button-bg-secondary);
    color: var(--button-text-secondary);
    border-color: var(--button-bg-secondary);
}

.btn-primary {
    background-color: var(--button-bg-primary);
    border-color: var(--button-bg-primary);
}

.btn-warning {
    background-color: var(--button-bg-warning);
    border-color: var(--button-bg-warning);
    color: #212529;
}

.list-group-item {
    background-color: #ffffff;
    color: var(--text-color);
}

.pair {
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5
