/* Estilo padrão (claro) */
body {
    background-color: #f8f9fa;
    color: #212529;
}

/* Modo Escuro */
body.dark-mode {
    background-color: #212529;
    color: #f8f9fa;
}

body.dark-mode .card {
    background-color: #343a40;
    color: #f8f9fa;
}

body.dark-mode .card-header {
    background-color: #495057;
}

body.dark-mode .pair {
    background-color: #495057;
    border-left-color: #ffc107;
}
